/* Starting with small screen designs:
    Smartphones:
    360x640
    375x667 

    Tablets: 768x1024

    Desktops:
    1366x768
    1920x1080

*/

/* Color templates:
    05668d Sea Blue
    427AA1 Queen Blue
    ebf2fa Anti-Flash White
    679436 Maximum Green
    a5be00 Limerick */

/* CSS codes for Small Screen Sizes first */

