/* Starting with small screen designs:
    Smartphones:
    360x640
    375x667 

    Tablets: 768x1024

    Desktops:
    1366x768
    1920x1080

*/

/* Color templates:
    05668d Sea Blue
    427AA1 Queen Blue
    ebf2fa Anti-Flash White
    679436 Maximum Green
    a5be00 Limerick */

/* CSS codes for Small Screen Sizes first */

body {
    background-color: #427aa1;
    color: #ebf2fa;
    margin: 0;
}

/*
    Dropdown Menus
    Reference:
    --> https://css-tricks.com/solved-with-css-dropdown-menus/

    Explain each Declaraton's Value and property in relation 
    to the Dropdown meanu.
*/

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

nav li {
    background-color: #a5be00;
    border-style: groove;
    border-color: #05668d;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

nav li:hover {
    background: #679436;
    cursor: pointer;
}

nav li a {
    color: #05668d;
    text-decoration: none;
}

nav ul li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

nav ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

nav ul li ul li {
    clear: both;
    width: 100%;
}

/* End of Dropdown menu CSS */

main {
    float: left;
    margin: 8px;
}